@use '../base' as *;
.header {
  background-color: transparent;
  padding: var(--space-xs) 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  .main-logo {
    max-width: 250px;
    width: 100%;
  }
  .nav-list {
    a {
      color: var(--main-color);
      text-decoration: none;
    }
  }
}